.about-header {
    background-image: linear-gradient(to right bottom, rgba($color-dark-yellow-grey, 0.6), rgba($color-dark-yellow-grey, 0.6)), url("../../assets/AboutUsPage/aboutuspagebg.jpg") !important;
    
    &__content {
        display: flex;
        background-color: $color-dark-grey;
        border: 3px solid $color-grey;
        padding: $l-size;
        border-radius: 10px;
    }
}

.mission-vision {
    flex: 0 0 50%;

    &__header {
        color: $color-white;
        text-transform: uppercase;   
        backface-visibility: hidden;
        text-align: center;
    }

    &__paragraph {
        color: $color-white;
    }
}

.section {
    &__video{
        width: 90%;
        max-width: 50rem;
        height: 380px;
        padding: $m-size;
    }
}

.section-green {
    background-color: $color-green !important;
    color: $color-light-grey !important;
}