.about-header {
    background-image: linear-gradient(to right bottom, rgba($color-dark-yellow-grey, 0.6), rgba($color-dark-yellow-grey, 0.6)), url("../../assets/AboutUsPage/aboutuspagebg.jpg") !important;
    
    &__content {
        display: flex;
        background-color: $color-dark-grey;
        border: 3px solid $color-grey;
        padding: $l-size;
        border-radius: 10px;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: $m-size;
            margin: $m-size;
        }
    }
}

.mission-vision {
    flex: 0 0 50%;

    &:not(:last-child) {
        margin-right: 1.4rem;
    }

    @media only screen and (max-width: $bp-small) {
        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }
    }

    &__header {
        color: $color-white;
        text-transform: uppercase;   
        backface-visibility: hidden;
        text-align: center;
    }

    &__paragraph {
        color: $color-white;
    }
}

.section {
    &__video{
        width: 90%;
        max-width: 50rem;
        height: 380px;
        padding: $m-size;

        @media only screen and (max-width: $bp-medium) {
            padding: $s-size;
            height: 300px;
        }

        @media only screen and (max-width: $bp-small) {
            padding: $s-size;
            height: 200px;
        }
    }
}

.section-green {
    background-color: $color-green !important;
    color: $color-light-grey !important;
}