.about-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($dark-yellow-grey, 0.6), rgba($dark-yellow-grey, 0.6)), url("../../assets/AboutUsPage/aboutuspagebg.jpg");
    background-size: cover;
    background-position: top;
    //position: relative;

    /*&__text-box {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding-top: 100px;
    }*/

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.about-heading-primary {
    color: $color-white;
    text-transform: uppercase;   
    backface-visibility: hidden;
    margin-bottom: 6rem;
    text-align: center;

    &--main {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 1.5rem;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.75rem;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: $font-size-header-secondary;
    text-transform: uppercase;
    font-weight: 700;

    &--different {
        text-align: right;
        font-size: $font-size-header-secondary;
        text-transform: uppercase;
        font-weight: 700;
    }

    &--start{
        text-align: center;
        font-size: $font-size-header-secondary;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-white;
    }

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.mission-vision{
    color: $color-white;
    text-transform: uppercase;   
    backface-visibility: hidden;
    margin-bottom: 6rem;
    text-align: center;

}

.paragraph-description{
    font-size: 21px;
    
    &--whatisdsc{
        text-align: left;
        font-size: 21px;
    }

    &--howisdscnusdifferent{
        text-align: right;
        font-size: 21px;
    }

    &--mission-vision{
        color: $color-white;
        font-size: 23px;
    }

    &--howwestart{
        color: $color-white;
        font-size: 23px;
        text-align: center;
    }
}

.section-howwestart{
    background-color: $color-green;
}
.dsc-video{

    &--whatisdsc{
        text-align: center;
        padding: $l-size;
        width: 700px;
        height: 500px;
    }

    &--howwestart{
        text-align: center;
        padding: $l-size;
        width: 700px;
        height: 500px;
        margin: 0 auto;
    }

}

.section-howwestart{
    padding: $m-size;
    margin: 0 auto;
}