.blog {
    background-image: linear-gradient(to right bottom, rgba($light-grey, 0.8), rgba(#42b7f4, 0.8)), url('../../assets/BlogPage/blogbg.jpg');
    background-size: cover;

    &__header {
        text-align: center;
        padding: $l-size;
        // color: $color-white;
    }

    &__content {
        padding: 0 5rem;
    }

    &__card {
        background-color: $color-white;
        padding: $xl-size
    }

    &__imagebox {
        img {
            width: 100%;
        }
        margin-bottom: 20px;
    }

    &__text-box {
        margin-bottom: 20px;
    }
}

.lcol-3 {
    float: left;
    width: 75%;
}

.rcol-1 {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
