.footer__menu {
    padding: $l-size
}

.footer {
    background-color: $color-dark-grey;
    padding: $l-size 0;
    font-size: 1.4rem;
    color: $color-light-grey;

    &__content {
        display: flex;
        padding: 0 $l-size;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 0 $l-size;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 0 $m-size;
        }
    }

    &__left {
        flex: 0 0 50%;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        @media only screen and (max-width: $bp-small) {
            margin-top: $m-size;
        }
    }

    &__logo-box {
        text-align: center;
        margin-bottom: $s-size;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &__logo {
        height: 5rem;
    }

    &__navigation {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-blue;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: scale(1.1);
        }
    }

    &__disclaimer {
        border-top: 1px solid $color-blue;
        padding-top: 2rem;
        display: inline-block;
    }

    &__socialmedia-menu {
        text-align: center;
    }

    &__link,
    &__link:link,
    &__link:visited {
        color: $color-light-grey;

        &:hover,
        &:active {
            color: $color-blue;
        }
    }
}