.timeline {
  padding-top: 0 !important;
  margin-bottom: 70px !important;
  width: 75% !important;

  @media only screen and (min-width: 1920px) {
    max-width: 1600px !important;
  }
}

.vertical-timeline-element-date {
  font-size: 16px !important;
}

.vertical-timeline-element-subtitle {
  font-size: 16px !important;
}

.vertical-timeline-element-title {
  font-size: 20px;
}

.vertical-timeline-element-body {
  font-size: 14px !important;
}

.vertical-timeline-element-body-list {
  padding-top: 10px;
  padding-left: 40px;
}

.h4g-sponsor-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;

  margin: 50px auto;

  h3 {
    align-self: flex-start;
    font-size: large;
  }

  @media screen and (max-width: $bp-medium) {
    max-width: 250px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.h4g-sponsor-osa-logo {
  width: 220px !important;
}

.h4g-panel-judges-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  max-width: 400px;
  margin: 0 auto 30px;

  @media screen and (max-width: $bp-small) {
    max-width: 300px;
  }

  @media screen and (max-width: $bp-smallest) {
    max-width: 250px;
  }

  // @media screen and (max-width: 1200px) {
  //   margin-bottom: ;
  // }

  @media screen and (min-width: 1200px) {
    ul {
      min-height: 120px;
    }
  }
}

.h4g-panel-judges-component-profile-img {
  max-width: 200px;
}

.h4g-panel-judges-component-company-img {
  margin-top: 20px;
  max-width: 100px;
}

.h4g-section-title {
  text-align: center;
  font-size: large;
  margin-bottom: 50px;
  text-decoration: underline;
}

.h4g-panel-judges-component-name {
  font-size: 1.2em;
}

.h4g-panel-judges-component-grid-column {
  > div {
    text-align: center;
  }
}

.h4g-panel-judges-component-grid {
  max-width: 2600px;
  &#{&}#{&}#{&}#{&} {
    margin: auto !important;
  }
}

.h4g-problem-statement-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 40px;
}

.h4g-problem-statement-component-img-container {
  img {
    max-width: 200px;
    max-height: 100px;
  }

  @media screen and (max-width: $bp-small) {
    img {
      max-width: 100px;
      max-height: 50px;
    }

    min-width: 150px;
    margin: 10px;
  }

  @media screen and (max-width: $bp-smallest) {
    img {
      max-width: 100px;
      max-height: 50px;
    }

    min-width: 120px;
    margin: 10px;
  }

  margin: 30px;
  min-width: 230px;
  text-align: center;
}

.h4g-problem-statements-container {
  max-width: 1000px;
  margin: auto;
}

.h4g-problem-statement-description-container {
  max-width: 900px;
}
