.home-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-dark-yellow-grey, 0.6), rgba($color-dark-yellow-grey, 0.6)), url("../../assets/HomePage/homepage.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    min-height: 400px;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;   
    backface-visibility: hidden;
    margin-bottom: $xl-size;
    text-align: center;
 
    &--main {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 1.5rem;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.75rem;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: $font-size-header-secondary;
    text-transform: uppercase;
    font-weight: 700;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.home-section-whatwedo {
    background-color: $color-blue;
    color: white;

    @include respond(tab-port) {
        padding: 20rem 0;
    }

    &-image {
        display: inline-block;
    }
}

.home-section-whoarewe {
    background-color: $color-white;
    color: black;

    @include respond(tab-port) {
        padding: 20rem 0;
    }

    &-image {
        display: block
    }
}

.home-button-text {
    font-size: $font-size-large;
    font-weight: 0;
    text-align: center;
    cursor: pointer;
}

.home-button {
    &, 
    &:link,
    &:visited {
        transition: 0.2s all;    
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-dark-grey, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-dark-grey, 0.2);
    }

}

.home-section-recent-events {
    text-align: center;
    padding: $l-size;
    &-header {
        padding: $m-size;
        @include respond(tab-port) {
            font-size: 3rem;
        }
    
        @include respond(phone) {
            font-size: 2.5rem;
        }
    }
}