.home-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-dark-yellow-grey, 0.6), rgba($color-dark-yellow-grey, 0.6)), url("../../assets/HomePage/homepage.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    min-height: 400px;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.section {
    background-color: $color-white;
    color: black;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image-box {
        flex: 0 0 50%;
        margin-top: .5rem;
        text-align: center;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__text-box {
        padding: $l-size;
        text-align: center;
    }
}

.section-blue {
    background-color: $color-blue !important;
    color: $color-light-grey !important;
}

.section-vertical {
    min-height: 53rem;
    text-align: center;
    padding: $l-size;

    &__text-box {
        padding: $l-size;
        text-align: center;
    }

    &__image-box {
        text-align: center;
    }
}

.recent-events__header {
    padding: $m-size;
    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}