.notfound {
    margin: 0 auto;
    padding: 6rem;
    text-align: center;
    min-height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__span {
        display: block;
        margin-bottom: $l-size;
    }
}