.menu {
    margin: 0px !important;
    border-radius: 0px !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000 !important;
}

.responsive {
    margin: 0px !important;
    padding: 0px !important;
}