@mixin center-text-box {
  width: 60%;
  margin: 0 auto;
  @media only screen and (max-width: $bp-largest) {
    width: 70%;
  }
  @media only screen and (max-width: $bp-medium) {
    width: 75%;
  }
  @media only screen and (max-width: $bp-small) {
    width: 90%;
  }
  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
  }
}

.past-webinar-header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-dark-grey, 0.8),
      rgba($color-dark-grey, 0.8)
    ),
    url("../../assets/PastWebinarPage/header.png");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;

  &__text-box {
    @include center-text-box();
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }
}
