.recruitment {
    display: flex;
    margin: 2rem;
    // background-color: $color-dark-grey;
    // border: 3spx solid $color-grey;
    padding: 1.5rem;
    border-radius: 10px;

    &__roles {
        color: white;
    }

    &__content-box {
        background-color: $color-dark-grey;
        border: 3px solid $color-grey;
        padding: $s-size;
        border-radius: 10px;
        transition: all 0.2s;
        margin: 0 1rem;

        &:hover {
            color: $color-teal;
            border: 3px solid $color-teal;
            cursor: pointer;
            transform: translateY(-2px);
        }

        &:hover > * {
            color: $color-teal
        }
    }

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        margin: 1.5rem;

        &__content-box {
            margin: 1rem 0;
        }
    }

    @media only screen and (max-width: $bp-small) {
        margin: 1rem;
    }
}

.recruitment-header {
    background-image: linear-gradient(to right bottom, rgba($color-dark-yellow-grey, 0.6), rgba($color-dark-yellow-grey, 0.6)), url("../../assets/HomePage/homepage.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;

    &__text-box {
        width: 50%;

        @media only screen and (max-width: $bp-medium) {
            width: 75%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 90%;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
        }
    }

    @media only screen and (max-width: $bp-medium) {
        height: 100%;
        padding: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        height: 100%;
        padding: 1rem;
    }
}

.section-recruitment {
    background-color: $color-white;
    color: black;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: $bp-smallest) {
            flex-direction: column;
        }
    }

    &__content-reverse {
        @media only screen and (max-width: $bp-smallest) {
            flex-direction: column-reverse;
        }
    }

    &__image-box {
        flex: 0 0 50%;
        margin-top: .5rem;
        text-align: center;
        padding: $s-size;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
        box-shadow: 0 .2rem .8rem rgba(0,0,0,.2);
    }

    &__text-box {
        padding: $l-size;
        text-align: center;

        @media only screen and (max-width: $bp-smallest) {
            padding: $m-size;
        }
    }
}