.team-header {
    background-image: linear-gradient(to right bottom, rgba($color-dark-yellow-grey, 0.5), rgba($color-dark-yellow-grey, 0.5)), url("../../assets/AboutUsPage/aboutuspagebg.jpg") !important;
}

.section-header {
    padding: 6rem;
    text-align: center;
}

.card {
    background-color: $color-white;
    border-radius: 10px;
    width: 30rem;
    overflow: hidden;
    box-shadow: 0 .2rem .8rem rgba(0,0,0,.2);

    &__text-box {
        text-align: center;
        padding: $m-size $l-size;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__image-box {
        max-width: 30rem;
    }

    &:not(:last-child) {
        margin-right: $m-size;
    }
}

.section-teampage {
    background-color: $color-light-grey !important;
    padding: $l-size;
    display: flex;
    justify-content: space-evenly;
}

.section-red {
    background-color: $color-red !important;
    color: $color-white !important;
}