// Colors
$dark-yellow-grey: #171400;
$dark-grey: #181818;
$light-grey: #eaeaea;
$color-white: #ffffff;
$color-black: black;
$color-blue: #4285F4;
$color-red: #DB4437;
$color-yellow: #F4B400;
$color-green: #0F9D58;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-header-secondary: 3.3rem;

// Spacing
$s-size: 1.2rem;
$m-size: 2rem;
$l-size: 4rem;
$xl-size: 6rem;
$desktop-breakpoint: 45rem;