.heading-primary {
    color: $color-white;
    text-transform: uppercase;   
    backface-visibility: hidden;
    margin-bottom: $xl-size;
    text-align: center;
    text-shadow: .2rem .5rem .5rem rgba($color-dark-grey, 0.5);
 
    &--main {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 1.5rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-small) {
            letter-spacing: 1rem;
            font-size: 3.5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        
        @media only screen and (max-width: $bp-medium) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
            letter-spacing: .8rem;
        }
    }
}

.heading-secondary {
    font-size: $font-size-header-secondary;
    text-transform: uppercase;
    font-weight: 700;

    @media only screen and (max-width: $bp-medium) {
        font-size: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
    }
}

.heading-tertiary {
    font-size: $font-size-header-tertiary;
    font-weight: 700;
    text-align: center;
}

.subheading {
    font-size: 1.2rem;
    color: $color-medium-dark-grey;
}

.paragraph {
    color: $color-dark-grey;
}

.subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    text-align: center;
}

.list {
    list-style: none;
}